@media only screen and (min-width: 600px) and (max-width:890px) {
    .perfil {
        display: flex;
        justify-content: center;
        padding: 10px;
    }

    .paragraph {
        width: 79%;
    }

    .sec-texts {
        font-size: 10vh;
        text-transform: lowercase;
    }

    .h-2 {
        display: flex;
        justify-content: center;
        margin: 11px;
        font-size: 1rem !important;
        font-weight: 300;
        text-transform: uppercase;
    }

    .wrapper {
        display: flex;
        margin-left: 33px;
    }

    .sec-texts {
        text-transform: capitalize !important;
    }
}
